@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div>
    <img src="https://sitechecker.pro/wp-content/uploads/2023/07/500-status-code.png" alt="500error" class="img-thumbnail" />
</div>
<br />
<br />
<div class="text-left h4">
    Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page
</div>
