@model BrowseHotelsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="@HotelsController.Name" asp-action="@nameof(HotelsController.Index)">
    
    <div asp-validation-summary="All"></div>

    <partial name="_SearchHotels" for="@Model.Search" />
</form>

@section Scripts {
    <partial name="_SearchHotelsScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
}
