@model SearchHotelsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="@HomeController.Name" asp-action="@nameof(HomeController.Index)" method="post">
    <partial name="_SearchHotels" for="@Model" />
</form>

@section Scripts {
    <partial name="_SearchHotelsScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
}
