@model BrowseHotelsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div asp-validation-summary="All"></div>

<form asp-controller="@HotelsController.Name" asp-action="@nameof(HotelsController.Index)" method="get">
    <partial name="_SearchHotels" for="@Model.Search" />
</form>

@section Scripts {
    <partial name="_SearchHotelsScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
}
