@model SearchHotelsViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Error"] != null)
{
    <p class="alert-danger">@TempData["Error"]</p>
}

<form method="post">

    <div asp-validation-summary="All"></div>

    <partial name="_SearchHotels" for="@Model" />
</form>

@section Scripts {

    <partial name="_SearchHotelsScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
}
